body{
    user-select: none;
    background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
}

#intro{
    display: grid;
}

#mainMenu{
    display: none;
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: #b3dced;
    border: 2px solid blue;
    border-radius: 20%;
    font-family: 'Titillium Web', sans-serif;

}

.grid-main{
    display: none;
    grid-template-columns: 
    25% 50% 25%;
    grid-template-rows:
    15vh 70vh 15vh;
    grid-template-areas:
    "instructions instructions ."
    "rollButton die score "
    "wins result result ";
}

#instructions1{
    grid-area: instructions;
    font-family: 'Titillium Web', sans-serif;
    font-size: 5vh
}

#die{
    align-self: center;
    position: relative;
    left: 36%;
    /* transition: all 0.5s ease; */
    /* margin: 50%; */
    /* transform: translate(-50% -50%); */
    grid-area: die
    
}

#die:hover{
    cursor: pointer;
}

@keyframes scale {
    0% {transform: rotate(0deg) scale(1)}
    50% {transform: rotate(360deg) scale(2)}
    100% {transform: rotate(720deg) scale(1)}
}

/* @keyframes rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(720deg)}
} */

.dieactive{
    transform: rotate(720deg);
    animation:  
    /* rotate 1s linear, */
    scale 0.5s linear;
    /* animation: rotate 1s linear; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

}


#roll{
    background-color: #b3dced;
    margin: 12%;
    margin-top: 30vh;
    margin-bottom: 30vh;
    text-align: center;
    border-radius: 20%;
    border: 2px solid blue;
    grid-area: rollButton;
    font-family: 'Roboto Mono', monospace;
    font-size: 5vh;
    padding-top: 1vh;
    overflow: auto
}

#roll:hover{
    cursor: pointer;
}

#roll:active{
    transform: scale(0.9)
}

#score {
    grid-area: score;
    background-color: #b3dced;
    margin: 12%;
    margin-top: 25vh;
    margin-bottom: 25vh;
    text-align: center;
    border-radius: 20%;
    border: 2px solid blue;
    font-family: 'Roboto Mono', monospace;
    font-size: 5vh;
    padding-top: 1vh;
    overflow: auto
}

#wins {
    grid-area: wins;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3vh;
    margin: 0%;
}

#result {
    grid-area: result;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3vw;
}


.grid-2{
    display: none;
    grid-template-columns:
    25vw 25vw 25vw 25vw;
    grid-template-rows:
    15vh 45vh 15vh 25vh;
    grid-template-areas:
    "instructionsM instructionsM instructionsM ."
    ". die1 die2 ."
    ". score1 score2 ."
    "winsM resultM resultM .";
    gap: 15px


}

#instructions2{
    grid-area: instructionsM;
    font-family: 'Titillium Web', sans-serif;
    font-size: 4vh
}

#player1Die{
    grid-area: die1;
    justify-self: center;
    align-self: center;
}

#player1Die:hover{
    cursor: pointer;
}

.dieTurn{
    box-shadow: 10px 10px 5px grey;
}

#player2Die{
    grid-area: die2;
    justify-self: center;
    align-self: center;
}

#player2Die:hover{
    cursor: pointer;
}

#score1{
    grid-area: score1;
    border: 2px solid blue;
    border-radius: 20%;
    background-color: #b3dced;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

#score2{
    grid-area: score2;
    border: 2px solid blue;
    border-radius: 20%;
    background-color: #b3dced;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

#winsM{
    grid-area: winsM
}

#resultM{
    grid-area: resultM
}