body{
    user-select: none;
    background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
}

#mainMenu{
    display: none;
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: #b3dced;
    border: 2px solid blue;
    border-radius: 20%;
    font-family: 'Titillium Web', sans-serif;

}

.grid-main{
    display: none;
    grid-template-columns: 
    25% 50% 25%;
    grid-template-rows:
    15vh 70vh 15vh;
    grid-template-areas:
    "instructions instructions ."
    "rollButton die score "
    "wins result result ";
}

#instructions{
    grid-area: instructions;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3vw
}

#die{
    align-self: center;
    position: relative;
    left: 36%;
    /* transition: all 0.5s ease; */
    /* margin: 50%; */
    /* transform: translate(-50% -50%); */
    grid-area: die
    
}

#die:hover{
    cursor: pointer;
}

@keyframes scale {
    0% {transform: rotate(0deg) scale(1)}
    50% {transform: rotate(360deg) scale(2)}
    100% {transform: rotate(720deg) scale(1)}
}

/* @keyframes rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(720deg)}
} */

.dieactive{
    transform: rotate(720deg);
    animation:  
    /* rotate 1s linear, */
    scale 1s linear;
    /* animation: rotate 1s linear; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

}


#roll{
    background-color: #b3dced;
    margin: 12%;
    margin-top: 40%;
    margin-bottom: 40%;
    text-align: center;
    border-radius: 20%;
    border: 2px solid blue;
    grid-area: rollButton;
    font-family: 'Roboto Mono', monospace;
    font-size: 5vw;
    padding-top: 10%;
    overflow: auto
}

#roll:hover{
    cursor: pointer;
}

#roll:active{
    transform: scale(0.9)
}

#score {
    grid-area: score;
    background-color: #b3dced;
    margin: 12%;
    margin-top: 40%;
    margin-bottom: 40%;
    text-align: center;
    border-radius: 20%;
    border: 2px solid blue;
    font-family: 'Roboto Mono', monospace;
    font-size: 3vw;
    padding-top: 10%;
    overflow: auto
}

#wins {
    grid-area: wins;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3vh;
    margin: 0%;
}

#result {
    grid-area: result;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3vw;
}
